html, body, #root, .App {
  background-color: black;
}

.container {
  height: 100%;
}

.intro {
  height: 95%;
}

.center {
  padding: 15rem 0 15rem 2rem;
}

h1, h4, h6 {
  color: white;
}

.sign-in {
  color: aqua;
}

.sign-up {
  color: white;
}