.navigations p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.25em;
}

.navigations i {
  color: white;
  font-size: 1.5em;
}

.navigations > .row {
  padding-top: 1em;
}

.navigations > .row:hover {
  
}

.narratives {
  /*border: .1em solid grey;
  border-width: 0 .1em 0 .1em;*/
  padding: .53vw;
}

.narratives-header {
  border: .1em solid dimgrey;
  border-width: .1em .1em 0 .1em;
}

.narratives-narrate {
  border: .1em solid dimgrey;
  border-width: 0 .1em 0 .1em;
}

.narratives p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.25em;
}

.new-narrative.form-control {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.new-narrative.form-control:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

hr {
  background-color: white;
}

.new-narrative.btn {
  color: white;
  font-size: 1em;
}

.new-narrative.btn:focus {
  box-shadow: none !important;
}

.profile-picture-small {
  width: 2vw;
}